@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport"/>
    <style type="text/css">
        div{
            display:flex;
            justify-content: center;
        }
        #botoes{
            display: flex;
            flex-direction: row;
        }
        .content-table{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 1em;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.20);
        }
        .content-table thead tr{
            background-color: rgb(0,123,255);
            color: whitesmoke;
            text-align: left;
            font-weight: bold;

        }

        .content-table th,
        .content-table td{
            padding: 12px 15px;

        }
        .content-table tbody tr{
            border-bottom: 1px solid #dddddd;
        }
        .content-table tbody tr:nth-of-type(even){
            background-color: #f3f3f3;

        }
        #bta, #btv, #btve, #btc{
            width: 60px;
            font-size: 12px;
            margin-right: 2px;
        }
        #btc{
            padding-left: 4px;
        }

        .scrollable {
            max-height: 70px;
            overflow: auto;
        }

        @@media only screen and (max-device-width: 1024px){
            .content-table{
                font-size: 0.9em;
            }
            .content-table th, .content-table td{
                padding-right: 5px;
            }
            #btv{
                padding-left: 10px;
            }
            #btv, #bta, #btve, #btc{
                font-size: 10px;
                width: 50px;
                margin-right: 1px;
            }
        }
        @@media only screen and (max-device-width: 768px){
            #botoes{
                flex-direction: column;
            }
            #bta,#btve, #btc{
                margin-bottom: 2px;
            }
        }
        @@media only screen and (max-device-width: 425px){
            .content-table{
                font-size: 0.399em;
            }
            #btv, #bta, #btve, #btc{
                font-size: 7px;
                width: 40px;
                margin-right: 0;
            }
        }
        @@media only screen and (max-device-width: 375px){
             .content-table{
                 font-size: 0.30em;
             }
              #btv, #bta, #btve, #btc{
                font-size: 6px;
                width: 30px;
                padding: 3px 2.5px 3px 2.5px;
            }
            .content-table th, .content-table td{
                padding-right: 12px;
            }
         @@media only screen and (max-device-width: 320px){
             .content-table{
                 font-size: 0.2em;
             }
              #btv, #bta, #btve, #btc{
                font-size: 5px;
                width: 22px;
            }
         }
    </style>
</head>
<h2 style="text-align:center">Projetos em andamento</h2>
<hr />
<table class="content-table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Inicio</th>
            <th scope="col">Previsão de termino</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projeto in ViewBag.Projetos)
        {
        <tr>
            <th scope="row">@projeto.Nome</th>
            <td><div class="scrollable">@projeto.Descricao</div></td>
            <td>@projeto.Responsavel.Nome</td>
            <td>@projeto.DataInicio.ToString("dd/MM/yyyy")</td>
            <td>@projeto.DataFim.ToString("dd/MM/yyyy")</td>
            <td>
                <a href="/tarefa/todas/@projeto.Id" class="btn btn-success" id="btve">Abrir</a>
                <a href="/projeto/detalhes/@projeto.Id " class="btn btn-secondary" id="btc">Membros</a>
                @if (projeto.Responsavel.Id == EngSoftware.Models.Usuario.Usuario._usuario.Id)
                {
                    <a href="/projeto/editar/@projeto.Id" class="btn btn-primary" id="bta">Editar</a>
                    <a href="/projeto/excluir/@projeto.Id" class="btn btn-danger" id="btv">Excluir</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>