@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <style>
        div{
            display:flex;
            justify-content: center;
        }
        .content-table{
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 1em;
            border-radius: 5px 5px 0 0;
            overflow: hidden;
            box-shadow: 0 0 20px rgba(0,0,0,0.20);
        }
        .content-table thead tr{
            background-color: rgb(0,123,255);
            color: whitesmoke;
            text-align: left;
            font-weight: bold;
        }
        .content-table th,
        .content-table td{
            padding: 12px 15px;

        }
        .content-table tbody tr{
            border-bottom: 1px solid #dddddd;
        }
        .content-table tbody tr:nth-of-type(even){
            background-color: #f3f3f3;

        }
    </style>
</head>
<h2 style="text-align:center">Projetos Concluidos</h2>
<hr />
<table class="content-table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Inicio</th>
            <th scope="col">Previsão de termino</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projeto in ViewBag.Projetos)
        {
        <tr>
            <th scope="row">@projeto.Nome</th>
            <td>@projeto.Descricao</td>
            <td>@projeto.Responsavel.Nome</td>
            <td>@projeto.DataInicio.ToString("dd/MM/yyyy")</td>
            <td>@projeto.DataFim.ToString("dd/MM/yyyy")</td>
            <td>
                @if (EngSoftware.Models.Usuario.Usuario._usuario.Tipo == EngSoftware.Models.Enums.TipoPessoa.Coodernador)
                {
                    <a href="/projeto/excluir/@projeto.Id" class="btn btn-danger">Excluir</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>