@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2 style="text-align:center">Projetos pendentes em avaliação</h2>
<hr />
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Descrição</th>
            <th scope="col">Responsavel</th>
            <th scope="col">Inicio</th>
            <th scope="col">Previsão de termino</th>
            <th scope="col">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projeto in ViewBag.Projetos)
        {
        <tr>
            <th scope="row">@projeto.Nome</th>
            <td>@projeto.Descricao</td>
            <td>@projeto.Responsavel.Nome</td>
            <td>@projeto.DataInicio</td>
            <td>@projeto.DataFim</td>
            <td>
                <a href="/projeto/aprovar/@projeto.Id" class="btn btn-success">Aprovar</a>
                <a href="/projeto/negar/@projeto.Id" class="btn btn-warning">Recusar</a>
                <a href="/projeto/editar/@projeto.Id" class="btn btn-primary">Editar</a>
                <a href="/projeto/excluir/@projeto.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>